div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    div.container-fluid
        div.navbar-header
            //button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            //    span.sr-only Toggle navigation
            //    span.icon-bar
            //    span.icon-bar
            //    span.icon-bar
        div.navbar-brand
            a#menu-toggle.glyphicon.glyphicon-align-justify.btn-menu.toggle(href='#')
                i.fa.fa-bars
            //a(href='#') Project name
        div.collapse.navbar-collapse
            ul.nav.navbar-nav
                li(class=(title === 'Home' ? 'active' : ''))
                    a(href='/') Home
                li(class=(title === 'About' ? 'active' : ''))
                    a(href='/about') About
            ul.nav.navbar-nav.pull-right
                li(class=(title === 'Login' ? 'active' : ''))
                    a(href='/login') Login
                li.divider
                li(class=(title === 'Help' ? 'active' : ''))
                    //a(href='/help') Help
                    a(href='/help' class="dropdown-toggle" data-toggle="dropdown") Help
                        ul.dropdown-menu.dropdown-menu-right(role='menu', aria-labelledby='dropdownMenu')
                            li(class=(title === 'UserGuide')).pull-left
                                a(href='/userguide') User Guide
                            li(class=(title === 'RestAPI'))
                                a(href='/help/restapi') REST API
                            li(class=(title === 'GeneralInformation'))
                                a(href='/info') General Information
        // Sidebar
        div#sidebar-wrapper
            nav#spy
                ul.sidebar-nav.nav
                    li.sidebar-brand
                        a(href='#home')
                            span.fa.fa-home.solo Home
                    li
                        a(href='#artifacts')
                            span.fa.fa-anchor.solo Artifacts
                    li
                        a(href='#builds')
                            span.fa.fa-anchor.solo Builds
                    li
                        a(href='#admin')
                            span.fa.fa-anchor.solo Admin

